<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="/font-awesome.4.6.1/css/font-awesome.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/profileImages/favicon.ico" type="image/x-icon" />
</head>
<body>
        <h2 class="reg-div">
            <a href="/bo_admin_dev_login">
                Logout
            </a>
        </h2>
   <div class="container">
       <form action="/admin/dashboard" method="post" id="add-club">
           <input type="text" name="club" id="soccerclub" placeholder="Club Name">
            <input type="text" name="country" id="country" placeholder="Country">

           <button class="btn btn-lg upload-btn" type="button">Upload File</button>
           <input type="file" class="form-control" name="upload" id="upload-input" style="display:none">

           <button>Add Club</button>
       </form>
   </div>
    
</body>

<script src="/assets/js/jquery.1.11.1.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/js/upload.js"></script>
</html>
