<!DOCTYPE html>
<html>
<head>

    <title><%= title %></title>
    <meta charset="utf-8">
    <link href="/css/login.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

    <link href="/font-awesome.4.6.1/css/font-awesome.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/profileImages/favicon.ico" type="image/x-icon" />

</head>

<body>

    <div class="container logo-container">
        <div class="row">
            <div class="col-md-12">
                    <nav class="navbar" id="nav_bar" role="navigation">

                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle navbar_icon" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span> 
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <h1 class="logo-div">
                                <a class="" href="/">
                                <img src="/profileImages/logo.png" class="logo_img" width="50px" height="50px"> Soccerkik
                                </a>
                            </h1>
                        </div>

                    </nav>
                </div>

        </div>
    </div>

   <div id="main">
    <div class="main">
        <form action="/forgot_password" method="post">

            <h1>Enter Email</h1>

            <div class="inset">
                <% if(hasErrors) {%>
                    <% for(var i = 0; i < messages.length; i++) {%>
                        <div class="alert alert-danger text-center">
                           <a href="#" class="close" data-dismiss="alert" aria-label="close">
                               &times;
                           </a>
                           <%= messages[i] %>
                            
                        </div>
                    <% } %>
                <% } %>
                
                <% if(noErrors) {%>
                    <div class="alert alert-info text-center">
                       <a href="#" class="close" data-dismiss="alert" aria-label="close">
                           &times;
                       </a>
                       <%= info %>

                    </div>
                <% } %>

                <p>
                    <label for="email">EMAIL ADDRESS</label>
                    <input type="text" name="email" placeholder="" />
                </p>

            </div>

            <p class="p-container">
                <span><a href="/">Already reset your password?</a></span>
                <input type="submit" class="login-log" style=" background: #03A9F4; border: #3bb5ec;" name="Submit" value="Send">
            </p>
        </form>
    </div>
    </div>

<script src="/assets/js/jquery.1.11.1.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>

</body>
</html>