
<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="/font-awesome.4.6.1/css/font-awesome.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/profileImages/favicon.ico" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="/css/mystyle.css" type="text/css">
</head>
<body id="login-page">

    <div class="form-box">
        <div class="form-logo">
       		<p class="text-center logo-text"><a href="/">SOCCERKIK</a></p>
       		<p class="text-center"><a href="/latest-football-news" class="reg-lin" style="color:#4aa1f3; font-weight:bold">Get Football News</a></p>
        </div>
        <form action="/" method="post">
           <% if(hasErrors) {%>
				 <div class="alert alert-danger text-center">
				 <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				  <% for(var i = 0; i < messages.length; i++) {%>
					  <%= messages[i] %> <br>
				  <% } %>

				  </div>
			  <% } %>

			  <% if(noErrors) {%>
				<div class="alert alert-success text-center">
				   <a href="#" class="close" data-dismiss="alert" aria-label="close">
					   &times;
				   </a>
				   <%= success %>

				</div>
			<% } %>
           
           	<input type="hidden" name="firstRoom" id="firstRoom" value="FirstRoom">
            <input type="text" name="email" class="form-control" placeholder="Email" />
            <input type="password" name="password" class="form-control" placeholder="Password">
            <input type="checkbox" name="rememberme" value="yes"> REMEMBER ME
            <input type="submit" class="btn btn-social login-log" style="background: #03A9F4; border: #3bb5ec;" value="LOGIN">
        </form>
        <a href="/forgot_password" class="login-action" title="Forgot password">
            <h5>Forgot password?</h5>
        </a>
        <a href="/signup" class="login-action" title="Sign Up">
            <h5>Not Yet Register?</h5>
        </a>
    </div>

<!--
    <footer class="login-footer text-center">
        <div class="col-xs-3">
            <a class="login-action" href="" title="language">LANGUAGE</a>
        </div>
        <div class="col-xs-3">
            <a class="login-action" href="" title="terms">TERMS</a>
        </div>
        <div class="col-xs-3">
            <a class="login-action" href="" title="privacy">PRIVACY</a>
        </div>
        <div class="col-xs-3">
            <a class="login-action" href="" title="careers">CAREERS</a>
        </div>
    </footer>
-->


<script src="/assets/js/jquery.1.11.1.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
</body>

</html>
