<!DOCTYPE html>
<html lang="en">
    <% include partials/header %>
<body>
   
   <%- body -%>



<!-- <script src="/files/js/profile.js"></script> -->
<!--
<script src="/js/jemoji.min.js"></script>
<script src="/js/emojify.js"></script>
-->

<!--
<script type="text/javascript" src="/lib/js/nanoscroller.min.js"></script>
<script type="text/javascript" src="/lib/js/tether.min.js"></script>
<script type="text/javascript" src="/lib/js/config.js"></script>
<script type="text/javascript" src="/lib/js/util.js"></script>
<script type="text/javascript" src="/lib/js/jquery.emojiarea.js"></script>
<script type="text/javascript" src="/lib/js/emoji-picker.js"></script>
-->


</body>
</html>


<script>
$(document).ready(function(){
    // $('.dropdown-toggle').click(function (){
    //     //dropDownFixPosition($('.button'),$('.dropdown-menu'));
    // });
    
    
});
    
function dropDownFixPosition(button, dropdown){
    var dropDownTop = button.offset().top + button.outerHeight();
    dropdown.css('top', "50px");
    dropdown.css('left', button.offset().left + "px");
    dropdown.css('right', "25px");
    dropdown.css('height', '100px')
    dropdown.css('background', '#F1F1F1')
    
}
</script>












