<!DOCTYPE html>
<html>
<head>

    <title><%= title %></title>
    <meta charset="utf-8">
    <link href="/css/login.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

    <link href="/font-awesome.4.6.1/css/font-awesome.min.css" rel="stylesheet">

</head>

<body>
    <div class="container logo-container">
        <div class="row">
            <div class="col-md-12">
                    <nav class="navbar" id="nav_bar" role="navigation">

                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle navbar_icon" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span> 
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <h1 class="logo-div">
                                <a class="" href="/">Soccerchat</a>
                            </h1>
                        </div>



                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                            <ul class="nav navbar-nav navbar-right">
                                <li style="padding-right: 50px;">
                                    <h2 class="reg-div">
                                        <a href="/">
                                            Login
                                        </a>

                                        <a href="/signup" class="reg_link" style="display: none;">
                                            | Register
                                        </a>
                                    </h2>

                                </li>


                                <li class="reg_link2">
                                    <h2 class="reg-div">
                                        <a href="/signup">
                                            Register
                                        </a>
                                    </h2>
                                </li>
                            </ul>
                        </div>

                    </nav>
                </div>

        </div>
    </div>

<div id="main">
    <div class="main">
        <% if(hasErrors) {%>
            <% for(var i = 0; i < messages.length; i++) {%>
                <div class="alert alert-danger text-center">
                   <a href="#" class="close" data-dismiss="alert" aria-label="close">
                       &times;
                   </a>
                   <%= messages[i] %>
                    
                </div>
            <% } %>
        <% } %>
        
        <% if(noErrors) {%>
            <div class="alert alert-success text-center">
               <a href="#" class="close" data-dismiss="alert" aria-label="close">
                   &times;
               </a>
               <%= success %>

            </div>
        <% } %>
        <form method="POST">

            <h1>Reset Password</h1>

            <div class="inset">
                

                <p>
                    <label for="email">Password</label>
                    <input type="password" name="password" placeholder="" />
                </p>

                <p>
                    <label for="email">Confirm Password</label>
                    <input type="password" name="cpassword" placeholder="" />
                </p>

            </div>

            <p class="p-container">
                <span><a href="/">Already reset your password?</a></span>
                <input type="submit" class="login-log" style=" background: #03A9F4; border: #3bb5ec;" name="reset" value="Reset Password">
            </p>
        </form>
    </div>
 </div> 


<script src="/assets/js/jquery.1.11.1.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>


</body>
</html>