<!DOCTYPE html>
<html>
<head>

    <title><%= title %></title>
    <meta charset="utf-8">
    <link href="/css/login.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text.css' />

</head>

<body>


    <div class="container logo-container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="logo-div">
                    <a href="/">Soccerchat</a>
                </h1>
                
            </div>
            <div class="col-md-6 text-right">
                <h2 class="reg-div">
                    <a href="/signup">
                        Register Here
                    </a>
                </h2>
            </div>

        </div>


    </div>

<div id="parallax" class="parallax-image">
    <div class="main">
        <% if(hasErrors) {%>
            <% for(var i = 0; i < messages.length; i++) {%>
                <div class="alert alert-danger text-center">
                   <a href="#" class="close" data-dismiss="alert" aria-label="close">
                       &times;
                   </a>
                   <%= messages[i] %>
                    
                </div>
            <% } %>
        <% } %>
        
        <% if(noErrors) {%>
            <div class="alert alert-success text-center">
               <a href="#" class="close" data-dismiss="alert" aria-label="close">
                   &times;
               </a>
               <%= success %>

            </div>
        <% } %>
        <form method="POST">

            <h1>Reset Password</h1>

            <div class="inset">
                

                <p>
                    <label for="email">Password</label>
                    <input type="password" name="password" placeholder="" />
                </p>

                <p>
                    <label for="email">Confirm Password</label>
                    <input type="password" name="cpassword" placeholder="" />
                </p>

            </div>

            <p class="p-container">
                <span><a href="/">Already reset your password?</a></span>
                <input type="submit" class="login-log" style=" background: #03A9F4; border: #3bb5ec;" name="reset" value="Reset Password">
            </p>
        </form>
    </div>
</div>


<script src="/assets/js/jquery.1.11.1.min.js"></script>
<script src="/bootstrap.3.3.6/js/bootstrap.min.js"></script>


</body>
</html>