body{
    background-color: #f1f1f1 !important;
}

.home-navbar > li > a{
    background-color: #4aa1f3 !important;
    color: white !important;
}

.home-navbar > li > a > img{
    float: left;
    margin-right: 10px;
    margin-top:-7px;
}

.collapse{
    width: 100%;
}

/* The side _brandigation menu */
.sidenav {
    height: 25%; 
    width: 0; 
    position: fixed;
    z-index: 0; 
    right: 0;
    margin-right: 262px;
    background-color: #fff;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s; 
    border: 1px solid #e7e7e7;
    border-right: none;
}

.sidenav a{
    text-decoration: none;
}

.sidenav h3 {
    padding: 0px 0px 25px 10px;
    margin: 0;
    font-size: 25px;
    color: #818181;
    display: block;
    text-transform: capitalize;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav .btn{
    display: inline-block;
    margin: 0px 0px 15px 10px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-right .5s;
    padding: 10px 0px 0px 0px;
}

chat{
    float: none;
    color: black;
    text-align: left;
    width: 250px;
}

#val{
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.navbar_form{
    margin-right: 1px;
}

/*Notification dropdown*/
#nav{
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: inline-block;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 900;
  line-height: 53px;
  cursor: pointer;
}

#nav li {
    margin-right: 20px;
    font-size: 14px;
    font-weight:bold;
}
#nav li a{
    color:#333333;
    text-decoration:none
}

#nav li a:hover{
    color:#006699;
    text-decoration:none
}

#notification_li
{
/*position:relative;*/
}
#notificationContainer {
    background-color: #fff;
    border: 1px solid rgba(100, 100, 100, .4);
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    overflow-y: scroll;
    position: absolute;
    top: 50px;
    margin-left: -107px;
    width: 400px;
    z-index: 1;
    max-height: 500px;
    display: none; 
}
/* Popup Arrow*/
#notificationContainer:before {
content: '';
display: block;
position: absolute;
width: 0;
height: 0;
color: transparent;
border: 10px solid black;
border-color: transparent transparent white;
margin-top: -20px;
margin-left: 188px;
/*    max-height: 500px;*/
}
#notificationTitle
{
font-weight: bold;
padding: 0px 0px 0px 25px;
font-size: 13px;
background-color: #4aa1f3;
position: fixed;
z-index: 1000;
width: 384px;
border-bottom: 1px solid #dddddd;
    height: 50px;
    color: #fff;
    text-align: center;
}
#notificationsBody
{
padding: 33px 0px 0px 0px !important;
min-height:300px;
    margin-top: 20px;
}
#notificationFooter
{
background-color: #4aa1f3;
text-align: center;
font-weight: bold;
padding: 8px;
font-size: 12px;
border-top: 1px solid #dddddd;
}

#notification_count 
{
padding: 3px 7px 3px 7px;
background: #cc0000;
color: #ffffff;
font-weight: bold;
margin-left: 12px;
border-radius: 9px;
-moz-border-radius: 9px; 
-webkit-border-radius: 9px;
position: absolute;
margin-top: -11px;
font-size: 11px;
}

/*2nd Notification dropdown*/

#nav2{
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: inline-block;
/*    padding: 0 0.5rem 0 0.6rem;*/
  color: #fff;
  font-size: 1.4rem;
  font-weight: 900;
  line-height: 53px;
  cursor: pointer;
}

#nav2 li {
/*    float: left;*/
    margin-right: 20px;
    font-size: 14px;
    font-weight:bold;
}
#nav2 li a{
    color:#333333;
    text-decoration:none
}

#nav2 li a:hover{
    color:#006699;
    text-decoration:none
}

#notification2_li
{
/*position:relative;*/
}
#notificationContainer2 {
    background-color: #fff;
    border: 1px solid rgba(100, 100, 100, .4);
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    overflow-y: scroll;
    position: absolute;
    top: 50px;
    margin-left: -107px;
    width: 400px;
    z-index: 1;
    max-height: 500px;
    display: none; 
}
/* Popup Arrow*/
#notificationContainer2:before {
content: '';
display: block;
position: absolute;
width: 0;
height: 0;
color: transparent;
border: 10px solid black;
border-color: transparent transparent white;
margin-top: -20px;
margin-left: 188px;
/*    max-height: 500px;*/
}
#notificationTitle2
{
font-weight: bold;
padding: 0px 0px 0px 25px;
font-size: 13px;
background-color: #4aa1f3;
position: fixed;
z-index: 1000;
width: 384px;
border-bottom: 1px solid #dddddd;
    height: 50px;
    color: #fff;
    text-align: center;
}
#notificationsBody2
{
padding: 33px 0px 0px 0px !important;
min-height:300px;
    margin-top: 20px;
}
#notificationFooter2
{
background-color: #4aa1f3;
text-align: center;
font-weight: bold;
padding: 8px;
font-size: 12px;
border-top: 1px solid #dddddd;
}

#notification_count2
{
padding: 3px 7px 3px 7px;
background: #cc0000;
color: #ffffff;
font-weight: bold;
margin-left: 12px;
border-radius: 9px;
-moz-border-radius: 9px; 
-webkit-border-radius: 9px;
position: absolute;
margin-top: -11px;
font-size: 11px;
}

.media{
    margin-top: 0px;
    border-bottom: 1px solid #e7e7e7;
    padding: 0px 0px 0px 0px;
    height: 70px;
}

.media-body {
    margin: 0 !important;
    padding: 0 !important;
    position: relative;
    height: auto;
}

.media span img{
    margin-top: 8px;
}

.media-heading{
    padding: 0;
    color: #26282A;
    font-weight: normal;
}

.media-heading strong{
    line-height: 10px;
    position: relative;
    float: left;
    margin-top: 13px;
    margin-bottom: 5px;
    font-size: 18px;
}

.media-text{
    margin-top: 30px;
    padding: 0; 
    line-height: 20px;
}

.media-text p{
    color: #4aa1f3;
    height: auto;
}

.media-body button#accept_friend{
/*    margin-left: 15px;*/
}



.bs-example
{
    margin: 30px;
    height: 120px;
    overflow: scroll;
}
.dropdown-menu{
    /*position:fixed;*/
}

.button{
    height:30px;
}

.profile{
    margin-top: 70px;
}

#sidebar {
  height: 100%;
  padding: 20px 0px 20px 0px;
    margin: 0;
}
#sidebar .nav {
  width: 80%;
    margin: 0 auto;
    text-align: center;
}
#sidebar li {
    text-align: left;
    padding-left: 10px;
}

.divCenter {
  height: 100%;
  padding-bottom: 10px;
  padding-top: 11px;
    margin: 0px 15px 0px 15px;
}

.divForm{
    width: 100%;
    height: auto;
    background: #fff;
    padding: 10px;
}

.divForm h2{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e7e7e7;
    color: #4aa1f3;
}

.form-horizontal{
    padding: 0px 15px 0px 15px;
}

#friend_List{
    width:20%;
}

.interestDiv{
    height: 100%;
    padding-bottom: 20px;
    padding-top: 10px;
    margin: 10px 0px 0px 0px;
}

#profileDiv .teams{
    padding: 0px 25px 0px 25px;
}

.signup{
/*    text-align: center;*/
    width: 70%;
    height: auto;
/*    margin: auto;*/
}

.profile-nav{
    background-color: #4aa1f3;
    
}

.profile-nav .nav_brand{
    color: white;
    font-size: 25px;
    font-weight: bold;
    padding-left: 0;
}

.thumbnail{
    height: auto;
    margin: 0px 15px 0px 15px;
    padding-bottom: 30px;
}

.thumbnail img{
    margin-top: 20px
}

.thumbnail h1{
    margin-top: 15px;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    color: #4aa1f3;
}

.thumbnail h2{
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: #a1a1a1;
}

.thumbnail h3{
    margin-bottom: 25px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    color: #a1a1a1;
}

.thumbnail span{
    font-weight: bold;
    color: #4aa1f3;
}

.thumbnail p, span{
    padding: 0px 20px 0px 20px;
}

.thumbnail p{
    background-color: #F4F3F3;
    height: auto;
    margin:  0px 15px 0px 15px;
    padding: 10px 20px 10px 20px;
    text-align: justify;
    color: #a1a1a1;
}

label, input[type="text"], #description{
    color: #a1a1a1;
}

.teams{
    width: 100%;
    background: #fff;
}

.teams h2{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e7e7e7;
    color: #4aa1f3;
}

.teams h3{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    color: #a1a1a1;
}

.item-list {
  position: relative;
  padding-left: 10px;
  width: 100%;
  border-left: 1px solid #e7e7e7;
    
    
}

.item-list .item {
  position: relative;
  line-height: 16px;
  margin-bottom: 20px;
  text-align: left;
  display: block;
  padding: 0 18px;
  font-size: 13px;
    margin-top: 10px;
}


.item-list .item:before {
  content: "";
  position: absolute;
  top: 8px;
  left: -10px;
  width: 12px;
  height: 1px;
  background: #e7e7e7;
}

.item-list .item:first-child:after {
  content: "";
  position: absolute;
  top: 0px;
  left: -12px;
  width: 5px;
  height: 8px;
  background: #fff;
}

.item-list .item:last-child:after {
  content: "";
  position: absolute;
  top: 9px;
  bottom: 0;
  left: -12px;
  width: 5px;
  background: #fff;
}

.item-list .item .item-label {
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
  color: #a1a1a1;
    padding-left: 10px;
}

.item-list .item .item-label input {
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
  color: #a1a1a1;
    padding-left: 0px;
    border: none;
}

.item-list .item .item-label:before {
  content: ''; 
  position: absolute;
 top: 2px;
  left: -16px;
  width: 13px;
  height: 13px;
  border-radius: 100%;
  background: #e7e7e7;
}

#val{
    color: #26282a;
    font-weight: normal;
}

.userFrom{
    color: #4aa1f3;
}

span.logoutBtn {
    color: #ffffff;
    float: right;
    border: 1px solid white;
    margin-top: 10px;
    margin-right: 15px;
    padding: 5px 15px 5px 15px;
}

.logoutBtn a{
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
}

.textRead{
    font-weight: normal;
/*    padding-bottom: 15px;*/
    text-decoration: none;
    color: #26282a;
}

.textNotRead{
    font-weight: bold;
/*    padding-bottom: 15px;*/
    text-decoration: none;
    color: #26282a;
}

#sidebar .nav li a{
    color: #4aa1f3;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
}

.user-image{
    height: 170px;
    width: 170px;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.user-image img {
    height: 170px;
    width: 170px;
    margin: 0;
    max-height: auto;
    max-width: auto;
    display: block;
}

.panelImage{
    width: 200px;
    height: 171px;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
}

.panelImage{
    width: 200px;
    height: 171px;
    padding: 7px;
}





/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}