
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, nav ul, nav li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after, q:before, q:after {
        background: '';
        background: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* start editing from here */
a {
    text-decoration: none;
}

.txt-rt {
    text-align: right;
}
/* text align right */
.txt-lt {
    text-align: left;
}
/* text align left */
.txt-center {
    text-align: center;
}
/* text align center */
.float-rt {
    float: right;
}
/* float right */
.float-lt {
    float: left;
}
/* float left */
.clear {
    clear: both;
}
/* clear float */
.pos-relative {
    position: relative;
}
/* Position Relative */
.pos-absolute {
    position: absolute;
}
/* Position Absolute */
.vertical-base {
    vertical-align: baseline;
}
/* vertical align baseline */
.vertical-top {
    vertical-align: top;
}
/* vertical align top */
nav.vertical ul li {
    display: block;
}
/* vertical menu */
nav.horizontal ul li {
    display: inline-block;
}
/* horizontal menu */
img {
    max-width: 100%;
}
/*end reset*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
/*    background: url(../profileImages/bg1.png) no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: 90% 90%;
    background: #3ca2e0 !important;
    color: white !important;
}

#parallax {
  width: 100%;
  height: auto;
  overflow: hidden;
  display: block;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

#parallax-footer {
  width: 100%;
  height: 670px;
  overflow: hidden;
  display: block;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

.parallax-image {
/*    background: url(../images/background.png);    */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: 50% 50%;
}

.parallax-image img {
  width: 100%;
  position: relative;
}

.logo-container{
    margin-bottom:5px
}

.logo-div a{
    color: #fff !important;
    text-decoration: none !important;
}

.logo-div img{
	width: 200px;
	height: 200px;
	margin-top: 40px;
}

.logo_img{
	width: 50px !important;
	height: 50px !important;
	margin-top: 0px !important;
}

.logo-div .logo{
	font-size: 70px;
	margin-bottom: 5px;
}

.reg-div {
    color: #4aa1f3 !important;
    font-size: 20px;
    z-index: 1000;
	width: 100%;
	margin-bottom: 0px;
	padding-top: 5px;
}

.reg-link {
	text-decoration: none;
	background: #ffffff;
	width: 150px !important;
	padding: 10px;
	margin: 0px 5px 0px 5px;
	display: inline-block;
}

.reg-link:link, .reg-link:visited {
	color: #4aa1f3;
	text-decoration: none;
}

.reg-link:active, .reg-link:hover {
    background: #fff;
    color: #4aa1f3;
	text-decoration: none;
}

.main {
    /*margin: 13em auto 0;*/
    width: 36%;
    margin:0 auto;
    margin-top: 80px;
}

#main{
/*    background-image: url('../profileImages/bg2.jpg');*/
	background-color: #3ca2e0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: 100% 100%;
}

form {
    background: #fff;
    overflow: hidden;
    position: relative;
    box-shadow: 0 5px 10px 5px rgba(0,0,0,0.2);
	margin-top: 0px;
	margin-bottom: 50px;
}

    form:after {
        content: "";
        display: block;
        position: absolute;
        height: 1px;
        width: 100px;
        left: 20%;
        top: 0;
    }

    form:before {
        content: "";
        display: block;
        position: absolute;
        width: 8px;
        height: 5px;
        border-radius: 50%;
        left: 34%;
        top: -7px;
        /*box-shadow: 0 0 6px 4px #fff;*/
    }

.login-log {
    padding: 7px;
    border-radius: 0px !important;
    padding-left: 18px;
    padding-right: 18px;
    font-size: 17px;
}

.inset {
    padding: 20px 20px 0px 20px;
    /*border-top: 1px solid #000;*/
}

form h1 {
    text-align: center;
    padding: 18px 0;
    border-bottom: 1px solid #e7e7e7;
    position: relative;
    margin-top:0px
}


form h1 {
    color: #4aa1f3;
    /*text-shadow: 0 1px 0 #000;*/
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    padding: 18px 0;
    border-bottom: 1px solid #e7e7e7;
    position: relative;
}

form h1 span {
    padding: 5px;
    background: #0184ff;
}

label {
    /*color: rgba(137, 192, 243, 0.8);*/
    color: #858585;
    display: block;
    font-size: 13px;
    /*padding-bottom: 9px;*/
}

input[type=text],
input[type=password],
.select {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    padding: 8px 5px;
    /*background: rgb(167,167,167);*/
    /*background: -moz-linear-gradient(top, rgba(167,167,167,1) 0%, rgba(181,181,181,1) 21%, rgba(228,228,228,1) 79%, rgba(242,242,242,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(167,167,167,1)), color-stop(21%,rgba(181,181,181,1)), color-stop(79%,rgba(228,228,228,1)), color-stop(100%,rgba(242,242,242,1)));
    background: -webkit-linear-gradient(top, rgba(167,167,167,1) 0%,rgba(181,181,181,1) 21%,rgba(228,228,228,1) 79%,rgba(242,242,242,1) 100%); 
    background: -o-linear-gradient(top, rgba(167,167,167,1) 0%,rgba(181,181,181,1) 21%,rgba(228,228,228,1) 79%,rgba(242,242,242,1) 100%); 
    background: -ms-linear-gradient(top, rgba(167,167,167,1) 0%,rgba(181,181,181,1) 21%,rgba(228,228,228,1) 79%,rgba(242,242,242,1) 100%);
    background: linear-gradient(to bottom, rgba(167,167,167,1) 0%,rgba(181,181,181,1) 21%,rgba(228,228,228,1) 79%,rgba(242,242,242,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7a7a7', endColorstr='#f2f2f2',GradientType=0 );*/
    border: 1px solid #e7e7e7;
    box-shadow: 0 1px 0 rgba(255,255,255,0.1);
    margin-bottom: 20px;
    color: #858585;
    font-size: 15px;
    outline: none;
    background-color: #fbfbfb;
    border: 1px solid #d5d5d5;
    font-family: inherit;
    -webkit-transition: -webkit-box-shadow .45s, border-color .45s ease-in-out;
    -moz-transition: -moz-box-shadow .45s, border-color .45s ease-in-out;
    -o-transition: box-shadow .45s, border-color .45s ease-in-out;
    transition: box-shadow .45s, border-color .45s ease-in-out;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

/*label[for=remember] {
    color: #858585;
    display: inline-block;
    font-size: 14px;

}*/

.remember{
    color: #858585;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle !important;
    font-weight: normal !important;
}

input[type=checkbox] {
    width: 16px;
    height: 16px;
    display: inline-block;
}

.p-container {
    padding: 0 20px 20px 20px;
}

    .p-container:after {
        clear: both;
        display: table;
        content: "";
    }

    .p-container span a {
        font-size: 14px;
        display: block;
        float: left;
        color: #0d93ff;
        padding-top: 4px;
    }


input[type=submit] {
    padding: 5px 20px;
    border: 1px solid #439F07;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), inset 0 10px 10px rgba(255,255,255,0.1);
    border-radius: 0.3em;
    background: rgb(138,199,84); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(138,199,84,1) 0%, rgba(121,201,50,1) 45%, rgba(102,190,24,1) 48%, rgba(57,150,2,1) 97%, rgba(102,174,63,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(138,199,84,1)), color-stop(45%,rgba(121,201,50,1)), color-stop(48%,rgba(102,190,24,1)), color-stop(97%,rgba(57,150,2,1)), color-stop(100%,rgba(102,174,63,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(138,199,84,1) 0%,rgba(121,201,50,1) 45%,rgba(102,190,24,1) 48%,rgba(57,150,2,1) 97%,rgba(102,174,63,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(138,199,84,1) 0%,rgba(121,201,50,1) 45%,rgba(102,190,24,1) 48%,rgba(57,150,2,1) 97%,rgba(102,174,63,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(138,199,84,1) 0%,rgba(121,201,50,1) 45%,rgba(102,190,24,1) 48%,rgba(57,150,2,1) 97%,rgba(102,174,63,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(138,199,84,1) 0%,rgba(121,201,50,1) 45%,rgba(102,190,24,1) 48%,rgba(57,150,2,1) 97%,rgba(102,174,63,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ac754', endColorstr='#66ae3f',GradientType=0 ); /* IE6-9 */
    color: #fff;
    float: right;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
    outline: none;
}

    input[type=submit]:hover {
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), inset 0 -10px 10px rgba(255,255,255,0.1);
        background: rgb(102,174,63); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(102,174,63,1) 0%, rgba(57,150,2,1) 3%, rgba(102,190,24,1) 52%, rgba(121,201,50,1) 55%, rgba(138,199,84,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(102,174,63,1)), color-stop(3%,rgba(57,150,2,1)), color-stop(52%,rgba(102,190,24,1)), color-stop(55%,rgba(121,201,50,1)), color-stop(100%,rgba(138,199,84,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(102,174,63,1) 0%,rgba(57,150,2,1) 3%,rgba(102,190,24,1) 52%,rgba(121,201,50,1) 55%,rgba(138,199,84,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(102,174,63,1) 0%,rgba(57,150,2,1) 3%,rgba(102,190,24,1) 52%,rgba(121,201,50,1) 55%,rgba(138,199,84,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(102,174,63,1) 0%,rgba(57,150,2,1) 3%,rgba(102,190,24,1) 52%,rgba(121,201,50,1) 55%,rgba(138,199,84,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom, rgba(102,174,63,1) 0%,rgba(57,150,2,1) 3%,rgba(102,190,24,1) 52%,rgba(121,201,50,1) 55%,rgba(138,199,84,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66ae3f', endColorstr='#8ac754',GradientType=0 ); /* IE6-9 */
    }

footer.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #fff;
}

footer .container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

@media only screen and (max-width:1440px) {
    .main {
        /*margin: 11em auto 0;*/
        width: 24%;
        margin-top: 40px;
    }

    .copy-right p {
        padding: 3em 0;
    }
    
    .icon-bar{
        background-color: #4aa1f3 !important;
    }
    
    .logo-div a{
        color: #fff !important;
        text-decoration: none !important;
    }
	
	.logo-div img{
		width: 200px;
		height: 200px;
		margin-top: 40px;
		margin-bottom: 0px;
	}
	
	.logo-div .logo{
		font-size: 55px;
		margin-bottom: 5px;
	}
	
	form{
		display: block;
		margin-top: 45px;
	}

	.reg-div {
		color: #fff !important;
		font-size: 20px;
		z-index: 1000;
		width: 100%;
		margin-bottom: 0px;
		padding-top: 5px;
	}

	.reg-link {
		text-decoration: none;
		background: #fff;
		width: 150px !important;
		padding: 10px;
		margin: 0px 5px 0px 5px;
		display: inline-block;
		font-size: 18px;
		color: #4aa1f3 !important;
	}

	.reg-link:link, .reg-link:visited {
		color: #4aa1f3 !important;
		text-decoration: none;
	}

	.reg-link:active, .reg-link:hover {
		background: #fff;
		color: #4aa1f3 !important;
		text-decoration: none;
	}
}

@media only screen and (max-width:1366px) {
    .main {
        width: 35%;
        margin-top: 40px;
    }

    .copy-right p {
        padding: 3.5em 0;
    }
    
    .icon-bar{
        background-color: #4aa1f3 !important;
    }
    
    .logo-div a{
        color: #fff !important;
        text-decoration: none !important;
    }
	
	.logo-div img{
		width: 165px;
		height: 165px;
		margin-top: 40px;
		margin-bottom: 0px;
	}
	
	.logo-div .logo{
		font-size: 55px;
		margin-bottom: 5px;
	}
	
	form{
		display: block;
		margin-top: 45px;
		margin-bottom: 70px;
	}

	.reg-div {
		color: #fff !important;
		font-size: 20px;
		z-index: 1000;
		width: 100%;
		margin-bottom: 0px;
		padding-top: 5px;
	}

	.reg-link {
		text-decoration: none;
		background: #fff;
		width: 150px !important;
		padding: 10px;
		margin: 0px 5px 0px 5px;
		display: inline-block;
		font-size: 18px;
		color: #4aa1f3 !important;
	}

	.reg-link:link, .reg-link:visited {
		color: #4aa1f3 !important;
		text-decoration: none;
	}

	.reg-link:active, .reg-link:hover {
		background: #fff;
		color: #4aa1f3 !important;
		text-decoration: none;
	}
}

@media only screen and (max-width:1280px) {
    .main {
        width: 35%;
        margin-top: 40px;
    }

    .copy-right p {
        padding: 4.3em 0;
    }
    
    .icon-bar{
        background-color: #4aa1f3 !important;
    }
    
    .logo-div a{
        color: #fff !important;
        text-decoration: none !important;
    }
	
	.logo-div img{
		width: 160px;
		height: 160px;
		margin-top: 40px;
		margin-bottom: 0px;
	}
	
	.logo-div .logo{
		font-size: 50px;
		margin-bottom: 5px;
	}
	
	form{
		display: block;
		margin-top: 45px;
		margin-bottom: 70px;
	}

	.reg-div {
		color: #fff !important;
		font-size: 20px;
		z-index: 1000;
		width: 100%;
		margin-bottom: 0px;
		padding-top: 5px;
	}

	.reg-link {
		text-decoration: none;
		background: #fff;
		width: 150px !important;
		padding: 10px;
		margin: 0px 5px 0px 5px;
		display: inline-block;
		font-size: 18px;
		color: #4aa1f3 !important;
	}

	.reg-link:link, .reg-link:visited {
		color: #4aa1f3 !important;
		text-decoration: none;
	}

	.reg-link:active, .reg-link:hover {
		background: #fff;
		color: #4aa1f3 !important;
		text-decoration: none;
	}
}

@media only screen and (max-width:1024px) {
    .main {
        width: 50%;
        margin-top: 40px;
    }

    .copy-right p {
        padding: 6em 0;
    }
    
    .icon-bar{
        background-color: #4aa1f3 !important;
    }
    
   .logo-div a{
        color: #fff !important;
        text-decoration: none !important;
    }
	
	.logo-div img{
		width: 140px;
		height: 140px;
		margin-top: 40px;
		margin-bottom: 0px;
	}
	
	.logo-div .logo{
		font-size: 50px;
		margin-bottom: 5px;
	}
	
	form{
		display: block;
		margin-top: 45px;
	}

	.reg-div {
		color: #fff !important;
		font-size: 20px;
		z-index: 1000;
		width: 100%;
		margin-bottom: 0px;
		padding-top: 5px;
	}

	.reg-link {
		text-decoration: none;
		background: #fff;
		width: 150px !important;
		padding: 10px;
		margin: 0px 5px 0px 5px;
		display: inline-block;
		font-size: 18px;
		color: #4aa1f3 !important;
	}

	.reg-link:link, .reg-link:visited {
		color: #4aa1f3 !important;
		text-decoration: none;
	}

	.reg-link:active, .reg-link:hover {
		background: #fff;
		color: #4aa1f3 !important;
		text-decoration: none;
	}
}

@media only screen and (max-width:768px) {
    .main {
        width: 60%;
        margin-bottom:70px;
        margin-top: 70px;
    }

    .copy-right p {
        padding: 6em 0;
    }

    .icon-bar{
        background-color: #4aa1f3 !important;
        margin-top: 10px;
    }
    
    #main{
        background-image: none !important;
        background-color: #3ca2e0 !important;
        height: 100%;
    }
    
    .logo-div a{
        color: #fff !important;
        text-decoration: none !important;
    }
	
	.logo-div img{
		width: 130px;
		height: 130px;
		margin-top: 40px;
		margin-bottom: 0px;
	}
	
	.logo-div .logo{
		font-size: 45px;
		margin-bottom: 5px;
	}
	
	form{
		display: block;
		margin-top: 45px;
	}

	.reg-div {
		color: #fff !important;
		font-size: 20px;
		z-index: 1000;
		width: 100%;
		margin-bottom: 0px;
		padding-top: 5px;
	}

	.reg-link {
		text-decoration: none;
		background: #fff;
		width: 150px !important;
		padding: 10px;
		margin: 0px 5px 0px 5px;
		display: inline-block;
		font-size: 18px;
		color: #4aa1f3 !important;
	}

	.reg-link:link, .reg-link:visited {
		color: #4aa1f3 !important;
		text-decoration: none;
	}

	.reg-link:active, .reg-link:hover {
		background: #fff;
		color: #4aa1f3 !important;
		text-decoration: none;
	}
}

@media only screen and (max-width:640px) {
    .main {
        width: 60%;
        margin-top: 40px;
    }

    .copy-right p {
        padding: 6em 0;
    }

    .icon-bar{
        background-color: #4aa1f3 !important;
    }
    
    #main{
        background-image: none !important;
        background-color: #3ca2e0 !important;
        height: 100%;
    }
	
	.logo-div a{
        color: #fff !important;
        text-decoration: none !important;
    }
	
	.logo-div img{
		width: 100px;
		height: 100px;
		margin-top: 40px;
		margin-bottom: 0px;
	}
	
	.logo-div .logo{
		font-size: 40px;
		margin-bottom: 5px;
	}
	
	form{
		display: block;
		margin-top: 45px;
	}

	.reg-div {
		color: #fff !important;
		font-size: 20px;
		z-index: 1000;
		width: 100%;
		margin-bottom: 0px;
		padding-top: 5px;
	}

	.reg-link {
		text-decoration: none;
		background: #fff;
		width: 150px !important;
		padding: 10px;
		margin: 0px 5px 0px 5px;
		display: inline-block;
		font-size: 18px;
		color: #4aa1f3 !important;
	}

	.reg-link:link, .reg-link:visited {
		color: #4aa1f3 !important;
		text-decoration: none;
	}

	.reg-link:active, .reg-link:hover {
		background: #fff;
		color: #4aa1f3 !important;
		text-decoration: none;
	}
}

@media only screen and (max-width:480px) {
    .main {
        width: 80%;
        margin-top: 40px;
    }

    .copy-right p {
        padding: 6em 0;
    }

    .login-log{
        margin-top:20px
    }

    .logo-container{
        height: 120px;
    }

    .navbar_icon{
        margin-right: -5px !important;
    }

    .icon-bar{
        background-color: #4aa1f3 !important;
        margin-top:8px !important;   
    }

    .navbar-right > li{
        z-index: 1000 !important;
    }

    .reg_link{
        display: inline-block !important;
    }

    .reg_link2{
        display: none !important;
    }
    
    #main{
        background-image: none !important;
        background-color: #3ca2e0 !important;
        height: 100%;
    }
    
	.logo-div a{
        color: #fff !important;
        text-decoration: none !important;
    }
	
	.logo-div img{
		width: 100px;
		height: 100px;
		margin-top: 40px;
		margin-bottom: 0px;
	}
	
	.logo-div .logo{
		font-size: 40px;
		margin-bottom: 5px;
	}
	
	form{
		display: block;
		margin-top: 170px;
	}

	.reg-div {
		color: #fff !important;
		font-size: 20px;
		z-index: 1000;
		width: 100%;
		margin-bottom: 0px;
		padding-top: 5px;
	}

	.reg-link {
		text-decoration: none;
		background: #fff;
		width: 150px !important;
		padding: 10px;
		margin: 0px 5px 0px 5px;
		display: inline-block;
		font-size: 18px;
		color: #4aa1f3 !important;
	}

	.reg-link:link, .reg-link:visited {
		color: #4aa1f3 !important;
		text-decoration: none;
	}

	.reg-link:active, .reg-link:hover {
		background: #fff;
		color: #4aa1f3 !important;
		text-decoration: none;
	}
}

@media only screen and (max-width:320px) {
    .main {
        width: 96%;
    }

    .copy-right p {
        padding: 1em 0;
    }

    .navbar_icon{
        margin-right: -20px !important;
    }

    .icon-bar{
        background-color: #4aa1f3 !important;
        margin-top:8px !important;   
    }

    .navbar-right{
        z-index: -1 !important;
    }

    .reg_link{
        display: inline-block !important;
    }

    .reg_link2{
        display: none !important;
    }
    
    #main{
        background-image: none !important;
        background-color: #3ca2e0 !important;
        height: 100%;
    }
	
	form{
		display: block;
		margin-top: 175px;
	}
	
	.logo-div a{
        color: #fff !important;
        text-decoration: none !important;
    }
	
	.logo-div img{
		width: 100px;
		height: 100px;
		margin-top: 40px;
	}

	.reg-div {
		color: #fff !important;
		z-index: 1000;
		width: 100%;
		margin-bottom: 0px;
		padding-top: 5px;
	}

	.reg-link {
		text-decoration: none;
		background: none !important;
		padding: 10px;
		margin: 0px 5px 0px 5px;
		display: inline-block;
		font-size: 17px !important;
	}

	.reg-link:link, .reg-link:visited {
		color: #fff !important;
		text-decoration: none;
	}

	.reg-link:active, .reg-link:hover {
		background: none !important;
		color: #fff !important;
		text-decoration: none;
	}
}


